.blog-post
  padding-bottom: 1em
  margin-bottom: 2em
  &:last-child
    margin-bottom: 0
  .blog-index &
    border-bottom: 2px solid $light-blue
    &:last-child
      border-bottom: none
  ul
    margin-left: 1em
  img
    @extend %block-center
    margin-bottom: 30px

.blog-title
  font-size: 86px
  letter-spacing: -0.05em
  line-height: 1.1
  margin-bottom: 0.3em
  a
    @extend %blue-text

.blog-subtitle
  color: $maroon
  margin-top: 0
  line-height: 1.5
  .blog-index &
    margin-bottom: 2.5em

.post-date
  color: $subdued
  margin-bottom: 0.5em