.blog-post
  @extend %margin-bottom-mid
  padding-bottom: $small-spacing
  .blog-index &
    border-bottom: 1px dashed $light-blue
  h2
    @extend %margin-bottom-small
  ol
    padding-left: 0
  figure
    margin: $small-spacing 0

  p:first-child:first-letter
    border-radius: 100px
    font-family: "coquette"
    font-size: 80px
    float: left
    line-height: 100px
    margin-right: 10px
    display: block
    width: 98px
    height: 98px
    background-color: $main-blue
    color: white
    text-align: center

.blog-intro
  +at(800)
    +columns(2)

.blog-title
  @extend %heading-type-mobile
  @extend %margin-bottom-0
  letter-spacing: -0.05em
  line-height: 1.1
  +at(450)
    +font-size(80)
  a
    @extend %blue-text

.blog-subtitle
  @extend %huge-type
  @extend %margin-bottom-small
  color: $maroon
  margin-top: 0
  line-height: 1.5
  .blog-archives &
    @extend %margin-bottom-mid
    margin-top: $mid-spacing

.blog-headings
  @extend %margin-bottom-mid

.pull-quote
  margin: 50px 10px
  font-weight: bold

.post-date
  @extend %large-type
  color: $subdued
  @extend %margin-bottom-small

.blog-archive-entry
  @extend %margin-bottom-small