.main-header
  text-align: center
  border-bottom: 1px solid $subdued
  +respond-to(3)
    float: right

.mark
  margin-top: 10px

.blog-title
  @extend %heading-type

.contact-links
  margin-bottom: 20px