.main-header
  text-align: center
  border-bottom: 1px solid $subdued
  margin-bottom: 2em
  +at(580)
    text-align: left
    float: right

.mark
  margin-top: 10px

.blog-title
  @extend %heading-type

.contact-links
  margin-bottom: 20px