*
  +box-sizing(border-box)

html
  overflow-y: scroll
  border-top: 10px solid $maroon

body
  padding: $small-spacing
  +at(768)
    padding: $mid-spacing
  +at(1000)
    padding: $large-spacing

img
  @extend %margin-bottom-30
  max-width: 100%

.main-content
  +transition(all, 0.5s, ease)
  @extend %block-center

.content-inner
  @extend %grid-wrapper

.main-header, 
.sidebar
  @extend %single-column

.main-header
  text-align: center
  +at(768)
    text-align: left
    float: right

.blog-area
  @extend %double-column
