table
  @extend %margin-bottom-small
  width: 100%
  tr
    border-collapse: separate
    border-spacing: 0 10px
  +at(max580)
    .table-header
      display: none
    tr
      display: block
      width: 100%
      border-bottom: 1px solid #333
      margin-bottom: $small-spacing
      padding-bottom: $small-spacing
    .val
      display: table-row
      text-align: left !important
      margin-bottom: 10px
      &:before
        display: table-cell
        padding-right: 1rem
        content: attr(data-label) ":"
        color: $maroon
        min-width: 80px

th
  font-weight: bold
  color: $maroon
  .table--left &
    text-align: left

.val
  text-align: center
  .table--left &
    text-align: left

.cell--inner
  width: 85%
