$small-spacing: 1rem
$mid-spacing  : 3rem
$large-spacing: 5rem



$main-blue            : #5696d1
$green                : #03A688
$light-blue           : #90bee9
$very-light-blue      : #CCDFF1
$blue-on-dark-bg      : #d3e4f4
$red                  : #ff5d5d
$maroon               : #832056

$heavy                : #919BB6

$subdued              : #bebebe
$copy                 : #626C7C


$legacy_base_font_size    : 12px !default
$base_font_size           : 16 !default
$base_font_color          : #444 !default
$link_color               : #5696D1 !default